<% if @user.errors.any? %>
  <div class="alert alert-danger" role="alert">
  <% @user.errors.full_messages.each do |msg| %>
    <%= msg %>
  <% end %>
  </div>
<% end %>
<%= simple_form_for @user, html: { class: "form-horizontal" } do |f| %>
  <%= f.input :email, hint: false, label: false, placeholder: "Email" %>
  <%= f.input :password, hint: false, label: false, placeholder: "Пароль" %>
  <%= f.submit button_name %>
<% end %>
